.backgroud-pattern {
    display: flex;
    flex-direction: column;
    grid-gap: 60px;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
}
.backgroud-pattern .strip {
    height: 25px;
    width: 100vw;
    background: rgb(217, 217, 217);
}