.team-page {
    padding: 20px;
}

.team-page .intro-topic {
    margin-top: 50px;
    text-align: center;
}

.team-list {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}


@media only screen and (max-width: 1330px) {
  .team-list {
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 20px;
  }
}