.button {
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
}

.button.primary {
  background-color: #111;
  border: 1px solid #111;
  color: #fff;
}


.button.secondary {
  background-color: white;
  color: #333;
  border: 1px solid #111;
}

.button.secondary:hover {
  background-color: #111;
  color: white;
}

.button.primary:hover {
  background-color: #4f4e4e;
  color: white;
}

.button.disabled {
    background-color: #4f4e4e;
    cursor: not-allowed;
}

.button.primary:active {
    background-color: #707070;
}