.product-detail-section {
    box-shadow: var(--background-shadow);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 20px;

}

.product-detail-section .content {
    height: 100%;
    display: flex;
    gap: 20px;
}
.product-detail-section .header {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    cursor: pointer;
}

.product-detail-section .content img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border: 1px solid lightgray;
}
.product-detail-section .product-showcase {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    height: 100%;
    width: 70%;
    
}

.product-detail-section .main-image {
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
}
.product-detail-section .button-list {
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.product-detail-section .product-details {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.product-detail-section .heading {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
    
}
.product-detail-section .feature-selectors {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-detail-section .rating {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
}

.product-detail-section .review > *:not(span){
    font-size: 20px;
}
@media only screen and (max-width: 1220px) {
  .product-detail-section .content {
    flex-direction: column;
    
   }
   .product-detail-section .product-details {
    width: 100%;
   }
   .product-detail-section .product-showcase {
    width: 100%;
   }
}

@media only screen and (max-width: 650px) {
  .product-detail-section .product-showcase {
    grid-template-rows: repeat(4, 1fr);
    
}

    .product-detail-section .main-image {
        grid-column: 1 / span 3;
        grid-row: 1 / span 4;
    }
}