.filter {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}

.filter-items {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.colour {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    position: relative;
}
.colour>*::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: black;
    opacity: 0;
}

.colour>*:hover::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: black;
    opacity: 0.5;

}
.colour>.selected::after {
    content: "\2713";
    background: black;
    opacity: 0.5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colour .colour-box{
    width: 30px;
    height: 30px;
}
