.contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10%;
    box-shadow: var(--background-shadow);
}

.contact-card .header {
    padding: 40px;
}

.contact-card .mail-info {
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 30px;
    text-align: center;
    cursor: pointer;
}

.contact-card .mail-info:hover {
    background-color: rgb(218, 218, 218);
}

@media only screen and (max-width: 1330px) {
  .contact-card {
    margin-top: 20%;
}
}