@font-face {
  font-family: 'Global Font';
  src: url('./assets/fonts/Gobold_Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Product Font';
  src: url('./assets/fonts/Product_Sans.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'Global Font', sans-serif;
}